@inject PatientService patientService
@inject NavigationManager navigationManager

@if(Patient == null){
    <p><em>Loading patient...</em></p>
} 
else{
    <MudPaper Class="pa-1 mud-theme-primary rounded-t-lg" MaxWidth="MaxWidth.Medium">
        <MudContainer Class="d-flex flex-row flex-grow-1 mud-theme-warning justify-start" Dense="true">
            <MudText Class="mud-theme-primary flex-grow-1">@Date</MudText>
            <MudIconButton Class="mud-theme-primary flex-none" Icon="@Icons.Material.Filled.Settings" OnClick="@EditPatient" Size="Size.Small" />
        </MudContainer>
        <MudStack Class="ma-1">
            <MudPaper Elevation="2" Class="pa-2 mud-theme-secondary">
                <MudText><b>Name:</b> @Name</MudText>
                <MudText><b>PID:</b> @Id</MudText>
            </MudPaper>

            @foreach (var group in Patient.TaskGroups) {
                <MudPaper Width="100%" Square="true" Class="pb-2">
                    <MudContainer Class="mud-theme-secondary">
                        <MudText Class="pl-n3" Align="Align.Left" Typo="Typo.h6">@group.Label</MudText>
                    </MudContainer>
                    @foreach (var result in group.Tasks) {
                        <PatientTask TaskItem="@result" />
                    }
                </MudPaper>
            }
        </MudStack>




    </MudPaper>
}

@code {
    [Parameter]
    public Patient? Patient { get; set; }
    string Name => Patient.LastName + ", " + Patient.FirstName;
    string Id => Patient.Id;
    string Date => $" {Patient.StartDate.Value.Year} {months[Patient.StartDate.Value.Month]} {Patient.StartDate.Value.Day.ToString("00")}";
    int status => (int)Patient.Status;
    string[] months = new string[] { "N/A", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"};
    string[] labels = new string[] { "Newly Added", "Assigned", "Treatment Ready", "In Treatment", "Treatment Complete", "Retired" };

    private async Task UpdatePatientTask(string groupLabel, string label, object value){
        int groupIndex = Patient.TaskGroups.FindIndex(g => g.Label == groupLabel);
        int index = Patient.TaskGroups[groupIndex].Tasks.FindIndex(t => t.Label == label);
        if (index >= 0) {
            Patient.TaskGroups[groupIndex].Tasks[index].SetValue(value);
            patientService.UpdatePatient(Patient);
        }
    }

    private void EditPatient(){
        navigationManager.NavigateTo($"patient/{Patient.Id}");
    }
}
